 <section id="content" class="table-layout animated fadeIn">

<div class="panel">

  
  <div class="panel-heading index">

    <span class="panel-icon">
      <i class="glyphicons glyphicons-list"></i>
    </span>
    <span class="panel-title"> Dialer </span>
  </div>

  <div class="panel-body">
  <div class="row">
  <div class="col-md-2">
  <%= link_to 'New Dialer', "#create_dialer", title: "Create", "data-effect" => "mfp-flipInY",class: "btn btn-hover btn-success btn-block create_dialer"%>
  </div></div><br />
  <div class="row">
    <table class="table table-bordered table-hover" id="dialer_datatable" cellspacing="0" width="100%">
      <thead class="thead_bg">
        <tr>
          <th>Name</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        <% @dialer.each do |dialer|%>
          <tr>
            <td><%= dialer.name%></td>
        
            <td>
             
<!--             
                < %= link_to '<i class = "glyphicon glyphicon-edit"></i>'.html_safe, "#edit_dialer", class: "btn btn-xs edit_dialer", title: "Edit", "data-effect" => "mfp-flipInY", id: dialer.id%> -->
         <!--        < %= link_to '<i class = "glyphicon glyphicon-remove"></i>'.html_safe,dialer, method: :delete, data: { confirm: 'Are you sure?' }%> -->

                 <%= link_to raw('<i class = "glyphicons glyphicons-edit"></i>')+" Edit",  "#edit_dialer", class: "btn btn-xs edit_dialer",title: "Edit", "data-effect" => "mfp-flipInY" , id: dialer.id%>
              <%= link_to raw('<i class = "glyphicon glyphicon-remove"></i>')+"Delete",dialer, class: "btn btn-xs mr10 ",method: :delete,data: { confirm: 'Are you sure?' }, id: dialer.id%>
            
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>  
  </div>
  <div id="edit_dialer" class=" theme-primary mfp-with-anim mfp-hide mt10">
</div>
 <div id="create_dialer" class=" theme-primary mfp-with-anim mfp-hide mt10">
</div>
</div>
</section>
<script type="text/javascript">
   $('.edit_dialer').magnificPopup({
      removalDelay: 500, //delay removal by X to allow out-animation
      callbacks: {
        beforeOpen: function(e) {
          // we add a class to body indication overlay is active
          // We can use this to alter any elements such as form popups
          // that need a higher z-index to properly display in overlays
            $('body').addClass('mfp-bg-open');
            this.st.mainClass = this.st.el.attr('data-effect');
            data={id: this.st.el.attr('id')};
                $.ajax({
                       url: "<%= edit_dialer_path%>",
                       data: data,
                       datatype: "JSON"
                       }).success(function(json){
                        if(json.length > 0)
                        {
                          $("#edit_dialer").empty().html(json).show();
                          $("#edit_dialer").removeAttr('tabindex');
                        }
                       });
        },
        afterClose: function(e) {
          $('body').removeClass('mfp-bg-open');
        }
      },
      midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
    });
$('.create_dialer').magnificPopup({
      removalDelay: 500, //delay removal by X to allow out-animation
      callbacks: {
        beforeOpen: function(e) {
          // we add a class to body indication overlay is active
          // We can use this to alter any elements such as form popups
          // that need a higher z-index to properly display in overlays
            $('body').addClass('mfp-bg-open');
            this.st.mainClass = this.st.el.attr('data-effect');
           
                $.ajax({
                       url: "/dialer_avaliables/new",
                       datatype: "JSON"
                       }).success(function(json){
                        if(json.length > 0)
                        {
                        
                          $("#create_dialer").empty().html(json).show();
                          $("#create_dialer").removeAttr('tabindex');
                        }
                       });
        },
        afterClose: function(e) {
          $('body').removeClass('mfp-bg-open');
        }
      },
      midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
    });
  $(document).ready(function() {
    
    $("#content").addClass("table-layout");

    $('#dialer_datatable').dataTable({
      "aoColumnDefs": [{
        'bSortable': false
      }],
      "oLanguage": {
        "oPaginate": {
          "sPrevious": "",
          "sNext": ""
        }
      },
      "scrollX": 965,
      "iDisplayLength": 10,
      "aLengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>'
    });

    $('.dataTables_filter input').attr("placeholder", "Enter here...");
    
  });
</script>