 <ul class="nav sidebar-menu">
          <li class="sidebar-label pt20">Menu</li>
          <li>
            <a href="pages_calendar.html">
              <span class="fa fa-calendar"></span>
              <span class="sidebar-title">Calendar</span>
              <span class="sidebar-title-tray">
                <span class="label label-xs bg-primary">New</span>
              </span>
            </a>
          </li>
          <li>
            <a href="<%= countries_path%>">
              <span class="glyphicon glyphicon-book"></span>
              <span class="sidebar-title">Country</span>
            </a>
          </li>
          <li class="active">
            <a href="<%= dialer_avaliables_path%>">
              <span class="glyphicon glyphicon-home"></span>
              <span class="sidebar-title">Dialer </span>
            </a>
          </li>
               <li class="">
            <a href="<%=  dialer_prices_path%>">
              <span class="glyphicon glyphicon-home"></span>
              <span class="sidebar-title">Dialer Price</span>
            </a>
          </li>
          <li class="sidebar-label pt15">Set Up</li>
          <li>
            <a  href="<%= dialer_plans_path%>">
              <span class="fa fa-columns"></span>
              <span class="sidebar-title">Dialer Plan</span>
              <span class="caret"></span>
            </a>
           
          </li>
          <li>
            <a href="<%= dialer_quantites_path%>">
              <span class="glyphicon glyphicon-fire"></span>
              <span class="sidebar-title">Dialer Quantity</span>
              <span class="caret"></span>
            </a>
         
          </li>
        
        </ul>